Project/Project/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CircleArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="r" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CircleAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CircleAreaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RectangleArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="l" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="w" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RectangleAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RectangleAreaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriangleArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="h" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriangleAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TriangleAreaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CircleAreaSoapIn">
    <wsdl:part name="parameters" element="tns:CircleArea" />
  </wsdl:message>
  <wsdl:message name="CircleAreaSoapOut">
    <wsdl:part name="parameters" element="tns:CircleAreaResponse" />
  </wsdl:message>
  <wsdl:message name="RectangleAreaSoapIn">
    <wsdl:part name="parameters" element="tns:RectangleArea" />
  </wsdl:message>
  <wsdl:message name="RectangleAreaSoapOut">
    <wsdl:part name="parameters" element="tns:RectangleAreaResponse" />
  </wsdl:message>
  <wsdl:message name="TriangleAreaSoapIn">
    <wsdl:part name="parameters" element="tns:TriangleArea" />
  </wsdl:message>
  <wsdl:message name="TriangleAreaSoapOut">
    <wsdl:part name="parameters" element="tns:TriangleAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CircleArea">
      <wsdl:input message="tns:CircleAreaSoapIn" />
      <wsdl:output message="tns:CircleAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RectangleArea">
      <wsdl:input message="tns:RectangleAreaSoapIn" />
      <wsdl:output message="tns:RectangleAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TriangleArea">
      <wsdl:input message="tns:TriangleAreaSoapIn" />
      <wsdl:output message="tns:TriangleAreaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CircleArea">
      <soap:operation soapAction="http://tempuri.org/CircleArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RectangleArea">
      <soap:operation soapAction="http://tempuri.org/RectangleArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriangleArea">
      <soap:operation soapAction="http://tempuri.org/TriangleArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CircleArea">
      <soap12:operation soapAction="http://tempuri.org/CircleArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RectangleArea">
      <soap12:operation soapAction="http://tempuri.org/RectangleArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriangleArea">
      <soap12:operation soapAction="http://tempuri.org/TriangleArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:53589/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:53589/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>